@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.spacer {
    flex: 1 1 auto;
  }

  
.Mons {
  font-family: 'Montserrat', sans-serif;
}

.Rob{
  font-family: 'Roboto Slab', serif;
}

.home{
  color: white;
  
}

mat-toolbar-row{
    /* background-color: rgb(171, 212, 248); */
    background-color: black;
    /* color: black; */
    box-shadow: 1px 1px 15px gray;
}