<!-- <style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
</style> -->
      <!-- <mat-card class="my-card form">
        <mat-card-content>
            <form class="my-form">
               
                   <mat-form-field class="full-width " appearance="outline">
                      <mat-label >Username</mat-label>
                      <input  matInput  placeholder="Last Name" name="lname"  required>
                   </mat-form-field>
                   <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Email</mat-label>
                      <input  matInput  placeholder="Email" name="email">
                   </mat-form-field>
                   <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Password</mat-label>
                      <input  matInput  placeholder="Password"  name="password">
                   </mat-form-field>
               
            </form>
          </mat-card-content>
        <mat-card-actions>
          <button  (click)="register()" color="primary" class="btn1">REGISTER</button>
        </mat-card-actions>
      </mat-card> -->

<!-- <div class="main">
  <div class="container">
    <h1>Registration Detials</h1>

      <div class="reg-form ">
        <form  action="">
          <div class="form-row">
             <div class="col-lg-8 space">
                <input class="form-control" type="text" name="" id="" placeholder="Username">
             </div>
          </div>
          <div class="form-row" >
             <div class="col-lg-8 space">
                <input type="text" class="form-control" placeholder="Email">
             </div>
          </div>
          <div class="form-row" >
            <div class="col-lg-8 space">
               <input type="password" class="form-control" placeholder="Password">
            </div>
         </div>
          <div class="form-row" >
             <div class="col-lg-8 space">
                <button type="button" class="btn1">Login</button>
             </div>
          </div>
       </form>
      </div>
  </div>
</div> -->

<section class="Form ">
  <div class="container ">
     <div class="row no-gutters">
     <div class="col-lg-5 back">
        <!-- <img class = "img-fluid" src="../../../assets/1mod.jpg" style="max-width:375px;max-height:625px;border-radius:30px 0 0 30px" alt="imgae"> -->
     </div>

     <div class="col-lg-7 sign-in-form">
        <form  action="">
           <h1>Registration Details</h1>
           <div class="form-row">
              <div class="col-lg-7 space">
                 <input class="form-control" type="text" name="" id="" placeholder="Username">
              </div>
           </div>
           <div class="form-row">
              <div class="col-lg-7 space">
                 <input class="form-control" type="text" name="" id="" placeholder="Email">
              </div>
           </div>
           <div class="form-row" >
              <div class="col-lg-7 space">
                 <input type="password" class="form-control" placeholder="password">
              </div>
           </div>
           <div class="form-row" >
              <div class="col-lg-7 space">
                 <button type="button" class="btn1">Register</button>
              </div>
           </div>
        </form>
     </div>

     </div>
  </div>
  

</section>





