<!-- <div class="mat-elevation-z8" ngIf="datasource">
    <table mat-table [dataSource]="datasource" matSort>
        <ng-container ngFor="let header of headers" [matColumnDef]="header">
            <th mat-header-cell matHeaderCellDef mat-sort-header>{{ header }}</th>
            <td mat-cellmatCellDef="let row">{{row[header]}}</td>
        </ng-container>
        <tr mat-header-row matHeaderRowDef="headers"></tr>
        <tr mat-row matRowDef="let row; columns: headers"></tr>
    </table>

    <mat-paginator [pageSize]="totalRows > 25 ? data.length: totalRows" (page)="nextPage" showFirstLastButtons *ngIf="datasource; else showThis" [length]="totalRows"></mat-paginator>
    <ng-template #showThis></ng-template>
</div> -->
